.big{
    max-width: 400px;
    margin: 70px auto;
    border: 1px solid red;
    border-radius: 8px;
    text-align: center;
}

.aboutBox{
    height:400px;
    overflow: scroll;
    margin-left: 16px;
    text-align: left;
}

.back{
    margin:20px auto;
}

.title{
    border-bottom: 1px solid red;
    margin:0 auto;
    padding: 20px 0;
}